.program {
    /*width:100px;*/ 
    height:34px;
}
.droppable-active {
    border:2px dashed blue !important;
}
.droppable {
    /*width:100px;*/
    height:34px;
    border:1px dashed black;
}

.text-center {
	padding-top: 6px;
}

.jumbotron {
	background-image: url("matrix.jpg");
}