.program {
    height:34px;
}
.droppable-active {
    border:2px dashed blue !important;
}
.droppable {
    height:34px;
    border:1px dashed gray;
}

.text-center {
	padding-top: 6px;
	color: gray;
}

.jumbotron {
	background-image: url("matrix.jpg");
}